
body{
	background-color:#0A9979;
}

.mare
{
	font-size:70px;
	text-align: center;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.container {
  width:450px;
  height:950px;
  border-radius: 50px;
  background-color: rgba(173,255,47, 255);
  padding: 20px;
  font-size: 10px;
}

.harta
{
	  width:450px;
  height:550px;
   border-radius: 50px;
	  background-color: rgba(173,255,47, 255);
	  padding: 5px;
	  float: right;
}

.buton
{
	background-color:black;
	color:white;
	width:350px;
	height:100px;
	font-size:50px;
	border:none;
	cursor:pointer;
	text-align: center;
}

